.topimage {
    background: $beigelight url(../images/top_pic_bg.png) top left no-repeat;
    background-size: 100% 100%;
    height: $desktop-heroheight;
    width: 100%;
    overflow: auto;
    position: relative;

    .hero {
        display: block;
        margin: 0 auto;
    }

    .content{
        position: absolute;
        left: 50%;
        top: 0;
        height: $desktop-heroheight;
        margin-left: -1 * $desktop-width / 2;
        //border: 1px solid #900;
    }

    .text {
        //background-color: #768434;
        height: 190px;
        width: 390px;
        margin-top: 120px ;
        position: relative;
        margin-left: 50%;
        color: $greytext;

        h1 {
            font-size: 2.4em;
            font-weight: normal;
            padding-top: 10px;
        }

        p {
            font-size: 1.3em;
            line-height: 140%;
            font-weight: 300;
            padding-top: 10px;
        }

        .price{
            //color: #ffffff;
            //content: "$125.00";
            //background-color: $greenlike;
            //width: 67px;
            //height: 67px;
            top: -67px;
            left: 0;
            position: absolute;
            font-size: 0.8em;
            font-weight: bold;
            //top: -67px;
            //left: 0;
        }
    }

    .hero-actions {
        display: block;
        margin-top: 20px;

        .action {
            background: $white;
            float: none;
            display: inline-block;
            line-height: 40px;
            transition: .3s;

            &:hover {
                color: $greytext;
                background: $greenlike;
            }
        }
    }
}

/*additional info badges on shoe items*/
/*********************** tratata *******************/
%badgelike {
    position: absolute;
    background-color: $greenlike;
    width: 68px;
    height: 68px;
    color: $white;;
    font-size: 0.8em;
    text-align: center;
    line-height: 68px;
}

.price,
.badge {
    @extend %badgelike;
}

.badge {
    font-size: 0.9em;
    right: 10px;
    top: 0;
    left: none;

    &.out {
        background-color: #242424;
        line-height: 20px;
        padding: 15px 0;
    }

    &.sale{
        background-color: #f27e4b;
    }
}

/*on sale, specials and must have line*/
.specials {
    width: 100%;
    height: 230px;
    background-color: $greytext;

    a {
        display: inline-block;
        position: relative;
        margin: 25px 8px;
        width: 300px;
        height: 180px;
        overflow: hidden;

        img {
            transition: .5s;
        }

        div {
            text-align: center;
            //vertical-align: middle;
            position: absolute;
            height: 59px;
            width: 100%;
            top: 61px;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }

            p {
                background: $greenlike;
                opacity: 1;
            }
        }
    }

    p {
        color: $white;
        font-size: 1.6em;
        line-height: 59px;
        display: inline-block;
        padding: 0 20px;
        background-color: rgba($greytext,0.7);
    }
}

/*part of page with shoe items and info about shipping etc*/
.shoes {
    background-color: $beigelight;
    color: $greytext;

    .category{
        position: relative;
    }

    h2 {
        line-height: 86px;
        font-weight: 300;
        font-size: 1.6em;
        margin-left: 10px;
    }

    .button {
        width: 100px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        right:10px;
        top: 35px;
        display: inline-block;
        color: #bcb5a7;
        border: 1px solid $grey;

        &:hover {
            color: $black;
            border-color: $black;
        }
    }

    img {
        display: block;
    }

    /*whole item with picture info price etc*/
    .item {
        display: inline-block;
        position: relative;
        margin: 0 8px;
        transition: .5s;

        &:hover {
            .info {
                margin-top: -50px;
            }

            .actions {
                margin-bottom: 0;
            }

            .tile-image {

                img {
                    transform: scale(1.1);
                }
            }
        }

        .tile-image {
            width: 300px;
            height: 220px;
            overflow: hidden;
            display: block;

            img {
                transition: .3s;
            }
        }
    }

    .info {
        line-height: 50px;
        font-size: 1.4em;
        transition: .5s;
        position: absolute;

        p {
            margin-left: 95px;
        }
    }

    .price{
        bottom: 0;
        left: 12px;
        z-index: 2;
        font-weight: bold;
    }
}

.action-block {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: $white;
    border-top: 1px solid $grey;
}

/*actions for shoe items (using icons)*/
.actions {
    padding-right: 20px;
    width: 100%;
    bottom: 0;
    right: 0;
    line-height: 50px;
    margin-bottom: -50px;
    transition: .5s;
    position: absolute;
}

.action {
    line-height: 50px;
    width: 40px;
    float: right;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: $greenlike;
    }
}

.column {
    width: $desktop-column-width;
    height: 185px;
    margin: 25px 8px;
    background-color: $beigedark;
    display: inline-block;
    padding: 25px 10px;
    vertical-align: top;

    p {
        font-size: 0.7em;
        line-height: 18px;
    }
}

.news-section {
    margin-top: 40px;

    h3 {
        font-size: 0.9em;
    }

    &:before {
        content: '';
        display: block;
        height: 1px;
        margin: 0 9px 0 8px;
        background: $grey3;
    }

    /*news column is wider*/
    .column {
        padding-left: 15px;
        padding-right: 15px;

        h3 {
            margin-bottom: 15px;
        }

        &:last-of-type {
            width: 460px;
        }
    }
}

.news-list {
    list-style: none;
    padding: 0;

    li {
        dispaly: block;
        padding-left: 50px;
        font-size: .75em;
        line-height: 130%;
        margin-top: 10px;
        clear: both;

        a {
            display: block;
            font-size: 1.1em;
            text-decoration: none;
            color: $black;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .date {
        width: 40px;
        height: 40px;
        float: left;
        position: relative;
        margin-left: -50px;
        background: $greenlike;
        text-align: center;
        padding: 10px 10px 0;
        color: white;
        font-weight: bold;
        line-height: 100%;
    }
}
