
footer {
    background-color: $greytext;

    .content{
        padding: 30px 0px;

        &:nth-of-type(2){
            //padding: 0 0;
            .column{
            height:60px;
            line-height: 60px;
            text-align: right;
            }
        }

        .column{
            &:last-of-type{
                float:right;
            }
        }
    }

    .socials-live {
        border-bottom: 1px solid $black;
    }

    .column {
        width: 280px;
        background-color: $greytext;
        margin:0 18px;
        padding: 0 10px;
        line-height: 24px;
    }

    h4 {
        color: $grey2;
        font-size: 0.9em;
        margin-bottom: 10px;
    }

    p {
        color: #a4a4a4;
    }

    a {
        color: $greenlike;
    }

    i {
        display: block;
        line-height: 28px;
    }

    .button {
        background-color: #7d7d7d;
        color: $grey1;
        width: 38px;
        margin: 0 0;
        text-align: center;

        &:hover {
            color: $white;
        }
    }


    /*flickr widget in footer*/
    .flickr {
        a {
            display: inline-block;
            height: 60px;
            width: 80px;
            margin: 0;
            border: $greytext solid 2px;
            overflow: hidden;

            img {
                width: 100%;
            }

            &:hover {
                border-color: $greenlike;
            }
        }
    }

    /*input email part of footer*/
    form {
        display: inline-block;
         line-height: 37px;
         margin: 0 auto;
    }

    input {

        background-color: $grey1;
        width: 214px;
        padding-left:14px;
        border: none;
        line-height: 37px;
    }

    /*social buttons*/
    .social {
        width: 35px;
        height: 35px;
        display: inline-block;
        //float: right;
        font-size: 18px;
        color: #7d7d7d;
        background-color: $grey1;
        text-align: center;
        line-height: 35px;
        text-decoration: none;

        &:hover {
            color: $white;
        }
    }

    .bottom {
        background: $grey1;
        color: $grey-light;
        height: 90px;
        font-size: .7em;
        line-height: 140%;

        .content {
            border: none;
        }

        .disclaimer {
            parring-top: 30px;
            width: 40%;
            display: inline-block;
        }

        ul {
            list-style: none;
            padding: 0;
            float: right;
            margin-top: 10px;

            li {
                float: left;
                white-space: nowrap;
            }

            a {
                text-decoration: none;
                color: $grey-light;
                margin: 0 5px;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}
