/* global elements */
@font-face {
    font-family: 'Aller';
    src:url('fonts/Aller.ttf.woff') format('woff'),
        url('fonts/Aller.ttf.svg#Aller') format('svg'),
        url('fonts/Aller.ttf.eot'),
        url('fonts/Aller.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/* size */
$desktop-width: 960px;
$desktop-heroheight: 461px;
$desktop-column-width: 220px;

/* colors */
$beigelight: #f0ede7;
$greytext: #242424;
$grey1: #2e2e2e;
$grey2: #6e6e6e;
$grey3: #bcb5a7;
$grey4: #7e7e7e;
$grey5: #353535;
$grey-light: #acacac;
$white: #fff;
$black: #000;
$backcolor: #ebe7df;
$beigedark: #dfdbd4;
$grey: #ccc;
$greenlike: #57c5a0;

body {
    font-family: 'Open Sans', sans-serif;
}

.button {
    display: inline-block;
    text-decoration: none;
}
