/* page header, menu */
.wrapper {
    width:100%;
    //background-color: #ebe7df;
}

.content {
    width: $desktop-width;
    text-align: left;
    margin: 0 auto;
}

header {
    background-color: $greytext;
    height: 47px;
}

.supermenu {
    float: right;
    border-right: $grey5 solid 1px;
    font-size: .7em;
    fon-weight: normal;

    .login {
        float: right;
        line-height: 47px;
        color: $grey4;
        white-space: nowrap;
        padding: 0 20px;
        text-decoration: none;
        height: 47px;
        border-left: $grey5 solid 1px;

        &:hover {
            color: $white;
        }
    }

    .search {
        width: 170px;
        float: right;
        height: 47px;
        border-left: $grey5 solid 1px;

        input {
            width: 120px;
            padding-left: 20px;
            line-height: 47px;
            border: none;
            background: transparent;
            color: $grey4;
            font-size: 1em;
        }

        a {
            color: $grey4;
            text-decoration: none;


            &.icon-search {
                font-size: 1.5em;
                float: right;
                width: 47px;
                height: 47px;
                line-height: 47px;
                padding-left: 10px;

                &:hover {
                    color: $white;
                }
            }
        }
    }
}

/*navigation*/
nav {
    background-color: $white;
    height: 60px;

    .content {
        border-right: 1px solid $backcolor;
        border-left: 1px solid $backcolor
    }

    ul {
        display: inline-block;
    }

    li {
        line-height: 60px;
        color: $greytext;
        display: inline-block;
        padding: 0 22px;
        border-right: 1px solid $backcolor;
        cursor: pointer;
        margin-right: -4px;
        transition: .3s;

        &:hover {
            background: $grey-light;
        }
    }
}

.slide-nav {
    background: $grey1;
    text-align: center;
    color: $grey-light;
    height: 90px;

    .slide-nav-item {
        display: inline-block;
        width: 190px;
        margin-top: 7px;
        margin-right: -2px;
        cursor: pointer;

        span {
            font-size: 0.7em
        }

        .indicator {
            height: 10px;
            background: $black;
            border: $black solid 2px;
            border-width: 2px 10px;
            transition: .3s;
        }

        &.active {
            color: $white;

            .indicator {
                background: $greenlike;
            }
        }

        &:hover {
            .indicator {
                background: $white;
            }
        }
    }

    h3 {
        font-weight: normal;
        font-size: 1.1em;
        margin-top: 20px;
    }
}

/*wish list and cart list top page setions*/
.basket {
    display: inline-block;
    height: 60px;
    width: 90px;
    //border-right: 1px solid $backcolor;
    border-left: 1px solid $backcolor;
    line-height: 60px;
    text-align: center;
    float: right;
    cursor: pointer;

    &:hover {
        .counter{
            background-color: $greenlike;
        }

        &:before {
            color: $black;
        }
    }
}

.icon-basket, .icon-star {
    color: $grey2;
}

.counter {
    display: inline-block;
    line-height: 20px;
    width:20px;
    background-color: #adadad;
    border-radius: 20%;
    color: $white;
    text-align: center;
    font-size: .7em;
    margin-left: 10px;
    font-weight: bold;
}
